In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./Energy_graph/data/raw/DRED/All_data.csv", low_memory=False)
df

,Unnamed: 0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,mains,television,fan,fridge,laptop computer,electric heating element,oven,unknown,washing machine,microwave,toaster,sockets,cooker
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-07-05 00:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,2015-07-05 00:00:01+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,2015-07-05 00:00:02+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13301996,2015-12-05 22:59:54+01:00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.95,1.24,NaN,1.39,0.0
13301997,2015-12-05 22:59:55+01:00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.24,NaN,1.39,0.0
13301998,2015-12-05 22:59:56+01:00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.24,NaN,1.39,0.0
13301999,2015-12-05 22:59:57+01:00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.24,NaN,1.39,0.0
13302000,2015-12-05 22:59:58+01:00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.24,NaN,1.39,NaN